@using Microsoft.AspNet.Identity;
@using App.Extensions;
@using CoursePlanner.Controllers;
@using CoursePlanner.Models;


@{StudentController studentControl = new StudentController();
    Student student = studentControl.getStudentInfo(0);
}


<!-- ko with: home -->

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">

                <div class="profile-userpic">
                    <img src="~/Images/avatar.png" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                      @User.Identity.GetFullName()
                    </div>
                    <div class="profile-usertitle-job">
                        @if(student.Majors !=null && student.Majors.Count >0)
                        {
                            foreach (DegreeProgram major in student.Majors)
                            {
                                @major.Name
                            }

                        }
                        else
                        {
                            <h4>Undeclared</h4>
                        }

                    </div>
                    <div class="profile-usersubtitle-job">
                        @if(student.Minors !=null && student.Minors.Count >0)
                        {
                            foreach (DegreeProgram minor in student.Minors)
                            {
                                @minor.Name
                            }

                        }
                        else
                        {
                            <h6>No Minor</h6>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                    <li><a data-toggle="tab" href="#tabProgress">Progress Bar</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        @{Html.RenderPartial("~/Views/Tabs/CalendarMatrix.cshtml");}
                    </div>
                    <div id="tabProgress" class="tab-pane fade">
                        <div>
                            @{Html.RenderPartial("~/Views/Tabs/ProgressBar.cshtml");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
