@using CoursePlanner.Models
@using CoursePlanner.Controllers;
@using App.Extensions;
@model DegreeProgram
@{
    ViewBag.Title = "Progress Bar";
    StudentController studentController = new StudentController();
    // set up list for radio buttons to select progress bar to view
    List<DegreeProgram> programs = studentController.getAllDegreePrograms(User.Identity.GetStudentId()); // TODO need to set up student id
    List<Course> coursesTaken = new List<Course>();
    CoursePlan cp = studentController.getCoursePlan(User.Identity.GetStudentId());
    foreach (Semester sem in cp.Semesters)
    {
        foreach (Course c in sem.Courses)
        {
            coursesTaken.Add(c);
        }
    }
}

<body>
    <!-- This should display all majors/minors in order and the requirement groups for each
        Still need to figure out how to account for the flexible (not mandatory) courses, and style the bar-->
    <div id="progressBarContainer" class="container">
        @foreach (var program in programs)
        {
            <div id=@program.Name>
                <h3>@program.Name</h3>
                @if (program.Requirements != null && program.Requirements.Count > 0)
                {
                    foreach (var group in program.Requirements)
                    {
                        if (group.TotalCredits > 0)
                        {
                            <h4>@group.GroupName</h4>
                            <div id=@group.GroupName class="row">
                                @if (group.MandatoryCourses != null && group.MandatoryCourses.Count > 0)
                                {
                                    foreach (var course in group.MandatoryCourses)
                                    {
                                        if (coursesTaken.Contains(course))
                                        {
                                            <div id=@course.Id class="col-sm-5">
                                                <!--TODO make green-->
                                                @course.Name
                                            </div>
                                        }
                                        else
                                        {
                                            <div id=@course.Id class="col-sm-5">
                                                <!--TODO make red-->
                                                @course.Name
                                            </div>
                                        }

                                    }
                                }

                            </div>
                        }
                    }
                }
            </div>
        }
    </div>
</body>